.projectMainContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #34A0A4;
    width: 100%;
}

.projectMainHeadline{
    color: white;
    font-size: 10vh;
    text-align: center;
    margin-top: 0px;
    font-family: monoBold;
}

.projectFatherContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.projectBox{
    position: relative;
    width: 45vw;
    height: 45vh;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.projectHeader{
    font-family: monoBold;
    color: white;
    font-size: 6vh;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0px;
    padding-top: 10vh;
}

.projectCardImgMonitor{
    max-width:50vw;
    height: auto;
    z-index: 20;
    transform: translateY(-2%);
}

.projectCardImg{
    max-width:13vw;
    height: auto;
    z-index: 20;
    transform: translateY(-2%);
}

.projectCardBackImgMonitor{
    max-width:25vw;
    height: auto;
    position: absolute;
    border-radius: 5%;
    border: 1px black solid;
}

.projectCardBackImg{
    max-width:22%;
    height: auto;
    position: absolute;
    border-radius: 5%;
    border: 1px black solid;
}

.projectInnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 1700px) {
    .projectBox{
        width: 15vw;
        height: auto;
    }
    .projectCardImg{
        max-width: 25vw;
    }
    .projectCardBackImg{
        max-width: 20vw;
    }
    .projectHeader{
        padding-top: 2vh;
    }
}




.projectCardRightIOpen{animation: projectCardRightIOpen 1s forwards;}
.projectCardRightIClose{animation: projectCardRightIClose 1s forwards;}

.projectCardRightIIOpen{animation: projectCardRightIIOpen 1s forwards;}
.projectCardRightIIClose{animation: projectCardRightIIClose 1s forwards;}

.projectCardLeftIOpen{animation: projectCardLeftIOpen 1s forwards;}
.projectCardLeftIClose{animation: projectCardLeftIClose 1s forwards;}

.projectCardLeftIIOpen{animation: projectCardLeftIIOpen 1s forwards;}
.projectCardLeftIIClose{animation: projectCardLeftIIClose 1s forwards;}




@keyframes projectCardLeftIIOpen {
    from{
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
    to{
        transform: translateY(15%) translateX(-155%) rotate(-20deg);
    }
}
@keyframes projectCardLeftIIClose {
    from{
        transform: translateY(15%) translateX(-155%) rotate(-20deg);
    }
    to{
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
}
@keyframes projectCardLeftIOpen {
    from{
        z-index: 15;
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
    to{
        z-index: 15;
        transform: translateY(8%) translateX(-85%) rotate(-12deg);
    }
}
@keyframes projectCardLeftIClose {
    from{
        z-index: 15;
        transform: translateY(8%) translateX(-85%) rotate(-12deg);
    }
    to{
        z-index: 15;
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
}
@keyframes projectCardRightIOpen {
    from{
        z-index: 15;
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
    to{
        z-index: 15;
        transform: translateY(8%) translateX(85%) rotate(12deg);
    }
}
@keyframes projectCardRightIClose {
    from{
        z-index: 15;
        transform: translateY(8%) translateX(85%) rotate(12deg);
    }
    to{
        z-index: 15;
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
}


@keyframes projectCardRightIIOpen {
    from{
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
    to{
        transform: translateY(15%) translateX(155%) rotate(20deg);
    }
}
@keyframes projectCardRightIIClose {
    from{
        transform: translateY(15%) translateX(155%) rotate(20deg);
    }
    to{
        transform: translateY(8%) translateX(0%) rotate(0deg);
    }
}









@media screen and (max-width: 600px) {
    .deceitDragon{
        width:45% !important;
        top: 8% !important;
    }
    .projectCardImgMonitor {
        max-width: 75vw;
    }
    .projectCardBackImgMonitor{
        max-width: 40vw;
    }
  }
  


.deceitDragon{
    position: absolute;
    top: 10%;
    left: 0%;
    cursor: pointer;
    width: 17%;
    height: auto;
}

.deceitDragonEnter{
    animation: deceitDragonEnter 1s forwards;
}

.deceitDragonLeave{
    animation: deceitDragonLeave 1s forwards;
}

@keyframes deceitDragonEnter{
    from{
        opacity: 0;
        left: -5%;
    }to{
        opacity: 1;
        left: 0%;
    }
}
@keyframes deceitDragonLeave{
    from{
        opacity: 1;
        left: 0%;
    }to{
        opacity: 0;
        left: -5%;
    }
}


