.backIcon{
    width: 30px;
    height: 30px;
    color: rgb(041 , 225, 140);
    position: absolute;
    top:10px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
}

.terminalIcon{
    width: 30px;
    height: 30px;
    color: rgb(041 , 225, 140);
}

.toTerminalIcon{
    display: flex;
    color: rgb(041 , 225, 140);
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    align-items: center;
}

.terminalOpening{
    animation: openTerminal 2s forwards;
}
.terminalClosing{
    animation: closeTerminal 2s forwards;
}

.terminal{
    width: 0%;
    z-index: 50;
}

@keyframes openTerminal{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes closeTerminal{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}