
.sideMenuPosition{
    flex:.1;
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sideMenuIcon{
    width: 50px;
    height: 50px;
    color: rgb(041 , 225, 140);
    cursor: pointer;
  }
  
  .photoModelContainer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    z-index: 30;
    position: relative;
  }

  .opened{
    animation: moveUp 1s 1 forwards;
  }

  .closed{
    animation: moveDown 1s 1 forwards;
  }

  .innerImageContainer{
    display: flex;
    flex: .1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .innerImageContainer::-webkit-scrollbar {
  width: 12px;              
}

.innerImageContainer::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);       
}

.innerImageContainer::-webkit-scrollbar-thumb {
  background-color: rgb(041 , 225, 140);    
  border-radius: 20px;      
  border: 3px solid rgb(0, 0, 0);  
}
  
  .imageText{
    font-family: 'fallout';
    color: rgb(197, 125, 238);
    font-size: 2.7vh;
    text-shadow: 0 0 15px rgb(188, 108, 235), 0 0 10px rgb(184, 96, 235), -20px -27px 3px rgba(206,89,55,0);
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .innerImageContainer{
      max-height: 800px;
      padding-bottom: 8%;
      }
  }

  .photoText{
    font-family: 'fallout';
    color: rgb(041 , 225, 140);
    font-size: 2.5vh;
    text-shadow: 0 0 15px rgb(041 , 225, 140), 0 0 10px rgb(041 , 225, 140), -20px -27px 3px rgba(206,89,55,0);
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 0px;
  }

  .photoGalleryImage{
    margin: 20px;
    border-radius: 15px;
    object-fit: cover;
  }

  .mainImage{

    max-height: 800px;
    border-radius: 50px;
    animation: popImage .7s 1 forwards;
  }

  .mainImageContainer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 95%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 50;
    overflow-x: auto;
  }

  .mouseClickImg{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 240px;
    z-index: 60;
    animation: mouseMove 1.5s forwards;
    left: 100%;
    animation-delay: 1s;
  }

  .ImageTutorialContainer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 50;
  }

  .tutorialImgInnerContainer{
    animation: resizeImg .5s forwards;
    animation-delay: 2.3s;
  }


  @keyframes mouseMove {
    from {
        left: 100%;
    }
    to {
      left: 0%;
    }
  }


  @keyframes resizeImg {
    0% {
      transform: scale(1)
    }
    50%{
      transform: scale(.9)
    }
    100% {
      transform: scale(1)
    }
  }


  @keyframes popImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


  @keyframes moveUp {
    from {
        top: 90%;
    }
    to {
        top: -15%;
    }
  }
  @keyframes moveDown {
    from {
        top: -15%;
    }
    to {
        top: 90%;
    }
  }