.skySurfContainer{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    overflow-x: hidden;
}

.skySurfHeadTextContainer{
    position: relative;
    color: white;
    font-family: Montserrat;
    font-size: 2vh;
    margin-top: 15%;
    flex: .5;
}

.skySurfHeadText{
    z-index: 20;
    left: 10%;
    opacity: 0;
    position: relative;
}

.skySurfHeadTextEnter{
    animation: enterSkySurfText 1s forwards;
}
.skySurfHeadTextLeave{
    animation: leaveSkySurfText 1s forwards;
}

.skySurfCloudEnter{
    animation: cloudEnter 1s forwards;
}
.skySurfCloudLeave{
    animation: cloudLeave 1s forwards;
}

.cloudContainer1{
    position: absolute;
    top: -10%;
    width: 100%;
    height: auto;
    opacity: 0;
    transform: scale(.8);
}

.cloudContainer2{
    position: absolute;
    top: -30%;
    width: 100%;
    right: 0%;
    height: auto;
    opacity: 0;
    transform: scale(.8);
}

.skySurfCloud1{
    position: absolute;
    top: -10%;
    width: 30%;
    height: auto;
    z-index: -1;
    animation: cloudAnimation 2s infinite alternate;
    animation-delay: .2s;
}

@keyframes cloudEnter{
    from{
        opacity: 0;
        transform: scale(.8);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes cloudLeave{
    from{
        opacity: 1;
        transform: scale(1);
    }to{
        opacity: 0;
        transform: scale(.8);
    }
}

.skySurfCloud2{
    position: absolute;
    top: -30%;
    width: 30%;
    right: 0%;
    height: auto;
    z-index: -1;
    animation: cloudAnimation 2s infinite alternate;
}

@keyframes cloudAnimation{
    from{
        transform: scale(.9);
    }to{
        transform: scale(1);
    }
}

@keyframes enterSkySurfText{
    from{
        left: 10%;
        opacity: 0;
    }to{
        left: 0%;
        opacity: 1;
    }
}
@keyframes leaveSkySurfText{
    from{
        left: 0%;
        opacity: 1;
    }to{
        left: 10%;
        opacity: 0;
    }
}


.skySurfImg{
    border-radius: 5%;
    height: auto;
    width: 50%;
}

.skySurfImgEnter{
    animation: enterSkySurfImg 1s forwards;
}

.skySurfImgLeave{
    animation: leaveSkySurfImg 1s forwards;
}

.skySurfTxtEnter{
    animation: enterSkySurfTxt 1s forwards;
}

.skySurfTxtLeave{
    animation: leaveSkySurfTxt 1s forwards;
}

@keyframes enterSkySurfTxt{
    0%{
        transform: rotateX(85deg);
        opacity: 0;
    }
    100%{
        transform: rotateX(10deg);
        opacity: 1;
    }
}
@keyframes leaveSkySurfTxt{
    0%{
        transform: rotateX(10deg);
        opacity: 1;
    }
    100%{
        transform: rotateX(85deg);
        opacity: 0;
    }
}


@keyframes enterSkySurfImg{
    from{
      opacity: 0;
      transform: scale(1.2);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes leaveSkySurfImg{
    from{
      opacity: 1;
      transform: scale(1);
    }to{
        opacity: 0;
        transform: scale(.8);
    }
}


.skySurfImgContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15%;
}

.skySurfImgContainer>p{
    color: white;
    font-family: monoBold;
    font-size: 2vh;
    text-align: center;
    width: 35%;
    border-bottom: 1px white solid;
}

.skySurfCurrentImageContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 50;
    overflow-x: auto;
  }

.skySurfImgMainContainer{
    margin-top: 5%;
}

.vacationDragon{
    width: 20%;
    height: auto;
}

.enterVacationDragon{
    animation: enterVacationDragon 1s forwards;
}

.leaveVacationDragon{
    animation: leaveVacationDragon 1s forwards;
}

@keyframes enterVacationDragon{
    from{
        opacity: 0;
        transform: rotate(15deg);
    }to{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes leaveVacationDragon{
    from{
        opacity: 1;
        transform: rotate(0deg);
    }to{
        opacity: 0;
        transform: rotate(15deg);
    }
}

@media screen and (max-width: 600px) {
    .skySurfImgMainContainer{
        margin-top: 40%;
    }
    .skySurfHeadTextContainer{
        margin-top: 70%;
    }
    .skySurfImgContainer{
        margin-top: 50%;
    }
    .cloudContainer1{
        top: 80%;
    }
    .skySurfHeadText{
        padding: 3%;
    }
    .vacationDragon{
        width: 50%;
    }
}