.externalLinkCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.externalLinkCont>div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.externalLinkCont>p{
    font-family: monoBold;
    color: white;
    font-size: 8vh;
    text-shadow:0px 5px  #364aff;
    perspective: 500px;
}

.enterLinkText{
    animation: enterLinkText 1s forwards;
}

.leaveLinkText{
    animation: leaveLinkText 1s forwards;
}

.externalLinkImg{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.externalLinkImg>img{
    width: 80%;
    height: auto;
}

@keyframes enterLinkText{
    from{
        transform: rotateZ(50deg);
        opacity: 0;
    }
    to{
        transform: rotateZ(0deg);
        opacity: 1;
    }
}
@keyframes leaveLinkText{
    from{
        transform: rotateZ(0deg);
        opacity: 1;
    }
    to{
        transform: rotateZ(50deg);
        opacity: 0;
    }
}