.headerGlassShard{
    position: absolute;
    width: 9%;
    height: 71%;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 99%;
    background-color: rgb(228 180 59);
    border: 3px solid rgb(223 202 146);
    border-left: 0;
    transform-origin: bottom left;
    transform: skew( 85deg, -67deg );
    top: 57%;
    opacity: 0;
    z-index: 1;
}


.mainPageTxt{
    font-size: 35vh;
    color: white;
    font-family: lobster;
    margin: 0px;
    position: absolute;
    bottom: 50%;
    perspective: 500px;
    z-index: 1;
    transform: rotateX(85deg);
    opacity: 0;
}

.mainPageTxtOpen{
    animation: startHello 1s forwards;
    animation-delay: .3s;
}

.mainPageTxtClose{
    animation: closeHello 1s forwards;

}

@media screen and (max-width: 600px) {
    .mainPageTxt{
        font-size: 15vh;
        bottom: 65% !important;
    }
    .backGroundTxt{
        bottom: 400px;
    }
  }


.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #FFD670;
}

.learnMore>p{
    color: white;
    font-size: 2.5vh;
    margin: 0;
    text-align: center;
}

.learnMore>:first-child{
    color: white;
    font-size: 5vh;
    margin: 0;
    text-align: center;
}







.learnMore{
    font-family: monoBold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 20;
    position: relative;
    animation: learnMoreAni 1s forwards;
    text-shadow:0px 3px  rgb(158, 96, 19);
    opacity: 0;
    right: 100%;
}

.learnTxtClose{
    animation: closeLearn 1s forwards;
}

.learnTxtOpen{
    animation: openLearn 1s forwards;
    animation-delay: .3s;
}

@font-face {
    font-family: lobster;
    src: url('../../assets/fonts/Lobster-Regular.ttf');
  }

@font-face {
    font-family: monoBold;
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
  }


@keyframes jumpBottomArrow{
    0%{
        top: 110%;
    }
    100%{
        top: 120%;
    }

}


@keyframes closeLearn{
    0%{
        right: 0%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        right: 100%;
    }
}


@keyframes openLearn{
    0%{
        opacity: 0;
        right: 100%;
    }
    100%{
        opacity: 1;
        right: 0%;
    }

}




@keyframes closeHello{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        bottom: 60%;
        transform: scale(0.5);
    }
}


@keyframes startHello{
    0%{
        transform: rotateX(85deg);
        opacity: 0;
    }
    100%{
        transform: rotateX(10deg);
        opacity: 1;
    }

}


@keyframes learnMoreAni{
    0%{
        bottom: -20%;
        opacity: 0;
    }
    25%{
        bottom: 8%;
        opacity: 1;
    }
    50%{
        bottom: 5%;
    }
    100%{
        bottom: 8%;
    }
}
