.contactMeHeadline{
    color: white;
    font-family: monoBold;
    font-size: 3.5vh;
    margin-top: 0px;
    text-align: center;
}

.contactDragon{
    width: 18vw;
    height: auto;
}

.reachMeContainer{
    cursor: pointer;
}

.reachMeContainer>p{
    font-family: Montserrat;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    opacity: 0;

}

@media screen and (max-width: 600px) {
    .contactMeInnerContainer{
        padding-bottom: 25%;
    }
    .contactDragon{
        width: 70vw !important;
    }
}

.contactMeInnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enterAboutMeDragon{ animation: enterAboutMeDragon 1s forwards;}
.leaveAboutMeDragon{animation: leaveAboutMeDragon 1s forwards;}

.enterAboutMeHeadLine{
    animation: enterTextLine 1s forwards;
    animation-delay: .8s;
}
.leaveAboutMeHeadLine{animation: leaveTextLine 1s forwards;}

@keyframes enterTextLine{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes leaveTextLine{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



@keyframes enterAboutMeDragon{
    from{
        transform: rotate(360deg) scale(.2);
        opacity: 0;

    }
    to{
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}
@keyframes leaveAboutMeDragon{
    from{
        transform: rotate(0deg) scale(1);
        opacity: 1;

    }
    to{
        transform: rotate(360deg) scale(.2);
        opacity: 0;
    }
}

.aboutLink:active{
    animation: clickDragon .5s forwards;
}

.aboutLink{
    text-decoration: none;
}

.contactMeSubLine{
    text-align: center;
    font-size: 2.5vh;
    color: white;
    font-family: Montserrat;
}

@keyframes clickDragon{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}