
.aboutImg{
    width: 30%;
    height: 370px;
    filter: sepia(40%);
}

.singleAboutImg{
    width: 60%;
    height: 400px;
}

.innerImgContainer{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}